<div class="page-header">
		<div class="right">
			<a class="btn btn-default" ng-href="{{vm.routes.edit}}">
  				<span class="glyphicon glyphicon-edit"></span>
			</a>
		</div>
		<div>
			<h2>Spotforecast '{{vm.spot.name}}'</h2>
		</div>
		<div class="clearfix"></div>
</div>

<div style="margin-bottom: 10px">
	<div style="float:left" ng-repeat="windDirection in vm.windDirections | orderBy: '-scoringFactor'">
		<spotmate-circle-range-select class="circle-optimal-range" model="windDirection.value" readonly="true" bg-image="vm.spot._links['map'].href"></spotmate-circle-range-select>
		<div style="text-align:center">Scoring-Factor: {{windDirection.scoringFactor}}</div>
	</div>
	<div class="clearfix"></div>
</div>


<form name="forecastSelection">
	<label ng-repeat="location in vm.spot._embedded.locations" style="padding: 5px">
		<input type="radio" ng-model="vm.location" ng-value="location" name="foo" ng-change="retrieveForecast()">{{location.name}} ({{location.providerName}})
	</label>
</form>

<spotmate-daily-forecast location="vm.location" spot="vm.spot"></spotmate-daily-forecast>